
@{
    ViewBag.Title = "Amalfi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="amalfi_color">
    <!--Amalfi-->
    <div class="amalfi">
        <div class="amalfi-image" style="display: flex;">
            <img style="width: 100%;" src="~/Content/images/amalfiheader.PNG" alt="Header Photo">
            <p class="texta">AMALFİ COAST</p>
        </div>
        <div class="about" style="display: flex; margin:30px 5px;">
            <div class="about-photo1a">
                <img src="~/Content/images/amalfi1.PNG" alt="Amalfi Photos" style="width:100%; border-radius: 5px;">
            </div>

            <div class="paragraph2">
                <h class="majesty">The Majesty of the Amalfi Coast</h>
                <p style="font-size: 20px;">The Amalfi coast is a breathtaking region located in the southwest of Italy, on the coast of the Tyrrhenian Sea. This region has been recognized as a World Heritage Site by UNESCO. The Amalfi coast is home to a number of attractive settlements, among them famous cities and towns.The Amalfi coast is a region where the ancient city of Amalfi, which has been an important maritime trade center throughout history, is located. Other towns are also enriched with historic churches, palaces and museums. It is especially famous for its lemon groves. It offers an unforgettable holiday experience full of sun, sea and history in summer.</p>
            </div>
            <div class="about-photo2a">
                <img src="~/Content/images/amalfi2.PNG" alt="Amalfi Photos" style="width:100%; border-radius: 5px;">
            </div>
        </div>
        <!--About End-->
        <!--Places-->
        <div class="placeheada">
            <h style=" color:rgb(24, 25, 109); font-size: 35px;"><b>Places to Visit That Should Be Explored</b></h>
        </div>

        <div class="places" style="display: flex; flex-wrap: wrap;">
            @{
                string[] placeHead = new string[] { "Positano", "Sorrento", "Vietri sul Mare", "Amalfi Town", "Ravello", "Conca dei Marini " };
                string[] placeImage = new string[] { "/Content/images/positano.PNG", "/Content/images/sorrento.PNG", "/Content/images/vietri.PNG", "/Content/images/amalfitowns.PNG", "/Content/images/ravello.PNG", "/Content/images/conce.PNG" };
                string[] placeParagraph = new string[] { "Positano is a famous coastal town located in the southwest of Italy, on the Amalfi Coast. It is located in the Campania region, in the province of Salerno. Known for its distinctive architecture, colorful houses, narrow streets, and unique beaches, Positano is a rich blend of Mediterranean culture. Built on steep slopes, the colourful houses are sloping towards the turquoise waters of the Amalfi Coast.  Of interest are the special items such as colorful beach dresses, handmade sandals, and ceramic products found in the local shops. Positano is a destination that offers an unforgettable experience for visitors who want to both relax and explore.",
                                                         "Sorrento is located southeast of Naples, at the beginning of the Amalfi Coast.  Sorrento is perched on a hill overlooking the sea and offers views of the Amalfi Coast and the Bay of Naples on a clear weather day. The city is famous for its lemon groves. It is possible to explore the ruins from the Ancient Roman period in the city. Historical buildings, churches and old fortifications in the city can be interesting for history lovers.Boutiques and workshops in the city are ideal shopping places for authentic souvenirs and local handicrafts. Sorrento is a city worth exploring in the southwest of Italy with its historical and cultural riches, natural beauties and delicious cuisine.",
                                                         "Vietri sul Mare is a town located in the south of Italy, at the beginning of the Amalfi Coast in the Campania region. Vietri sul Mare is particularly famous for its traditional handmade ceramic products. The area is known for its ceramics, which are decorated with colorful and vibrant patterns. Vietri sul Mare ceramics is a handicraft that is appreciated all over Italy and around the world. Vietri sul Mare is particularly famous for its traditional handmade ceramic products.  Vietri sul Mare is known for its ceramics, it is a handicraft that is appreciated all over Italy and around the world.Vietri sul Mare is a quaint town that stands out not only for its ceramic art, but also for its beautiful seascape and cultural riches.",
                                                         "Amalfi is a town and region located in southwestern Italy, in the Campania region, on the shores of the Tyrrhenian Sea. It is the center and largest settlement of the Amalfi Coast. Amalfi is known as an important maritime trade center in the Middle Ages. Between the 9th and 11th centuries, it stood out as the capital of the Amalfi Republic, which prospered with maritime trade and sea power.It surrounds the Piazza del Duomo, a majestic ceremonial area in the square of the Amalfi Cathedral, which is among the most important buildings in the city. Located in Amalfi, the Maritime Museum focuses on the maritime past that played an important role in the history of the region. Amalfi has a beautiful harbor that offers the beauties of typical Italian coastal towns.",
                                                         "Ravello is built on a high hill overlooking the Tyrrhenian Sea. Thanks to this location, the town has breathtaking sea views and views of the coastline. Places such as Villa Rufolo and Villa Cimbrone are particularly famous for their enormous gardens and panoramic terraces. Ravello is famous for its historic renaissance villas. Ravello is home to the Ravello Festival, a world-renowned music and arts festival. Ravello attracts visitors with its tranquil atmosphere, cultural events and magnificent landscapes.",
                                                         "Conca dei Marini is a town built on high cliffs.  Furore Bay, which has a Fjord-like structure, is one of the natural beauties of Conca dei Marini. Conca dei Marini is home to the famous Emerald Cave. This cave has a greenish tint due to the reflections of the sand and cliffs under the water. The main church in the city, the Church of San Pancrazio, is an 11th-century historical monument.  With its quiet atmosphere, clean sea, and unique landscapes, this town can be a pleasant stopover for those who come to explore the Amalfi Coast."};
            }
            @for (int i = 0; i <= 5; i++)
            {

                <div class="towns">
                    <h class="headinga">@placeHead[i]</h>
                    <img src="@placeImage[i]" style="width: 90%; margin: 5% 5%;" alt="@placeImage[i]">
                    <p>@placeParagraph[i]</p>
                </div>
            }

        </div>
        <!--Places End-->
        <!--Food-->
        <div class="foodheada" style="margin: 50px;">
            <h style=" color:rgb(24, 25, 109); font-size:35px; "><b>Pleasant Restaurants in Amalfi Coast</b></h>
        </div>
        <div class="food" style="display: flex; flex-wrap: wrap;">
            @{
                string[] restaurantHead = new string[] { "La Serra", "Il Fornillo", "Ristorante Pizzeria Tasso", "Le Bontà del Capo ", "Re Mauri", "Belvedere Restaurants" };
                string[] restaurantLink = new string[] { "https://leagavi.it/en/", "https://restaurantguru.com/Il-Fornillo-Positano", "https://restaurantguru.com/Ristorante-Pizzeria-Tasso-Sorrento#google_vignette", "https://www.lebontadelcapo.it/", "https://www.remauri.it/en/", "https://www.belmond.com/hotels/europe/italy/amalfi-coast/belmond-hotel-caruso/dining" };
                string[] restaurantParagraph = new string[] {"La Serra is a restaurant located in Positano and is located within the hotel Le Agavi. The restaurant is a place that offers the possibility to dine on a terrace with a magnificent view inside the hotel, serving Mediterran cuisine and contemporary dishes. It is known for its creative and visually appealing dishes prepared by chef Luigi Tramontano. It is also known for its dishes prepared with fresh, local ingredients using vegetables grown in the restaurant's own kitchen garden.  La Serra is listed as a Star in the 2024 MICHELIN Guide: High-quality cooking restaurant.",
                                                             "Il Fornillo is a famous restaurant located in Positano. Il Fornillo is located along the breathtaking Amalfi coastline, overlooking the sea. The restaurant serves highlights of traditional Amalfi cuisine. Inspired by Italian cuisine, the dishes are often made with fresh seafood, olive oil, local herbs and other local ingredients. This restaurant is known for its delicious food and stunning views. The atmosphere of Il Fornillo is generally warm and friendly, but also has an elegant Mediterranean style.",
                                                             "Ristorante Pizzeria Tasso is an Italian restaurant located in Sorrento. Opened in 2000 on Via Correale, the restaurant is versatile enough to please anyone who wants to taste the authenticity of peninsular delicacies. Opened in 2000 on Via Correale, the restaurant is versatile enough to please anyone who wants to taste the authenticity of peninsular delicacies. The restaurant's menu includes many delicious dishes, such as Caprese salad with tomatoes and mozzarella cheese from Vico Equense, buffalo and mozzarella cheese, Sorrento tomatoes, Caprese salad with yellow and black cherry tomatoes, shrimp, ravioli and gluten-free pizza.",
                                                             "Le Bontà del Capo was founded by Salvatore Criscuolo and is known as one of the most popular and appreciated restaurants in Conca dei Marini. The restaurant is located in a special location, surrounded by olive groves, vineyards and lemon trees, among the intense blue of the sea and the brightness of the sky. On Donna Teresa's terrace, you can enjoy delicious regional cuisine, where you feel integrated with the horizon at sunset and accompanied by the best wines of the Amalfi and Sorrento coasts.Dishes served by the restaurant include Italian, pizza, seafood, Mediterranean and European cuisine. There are also vegetarian and vegan options available.",
                                                             "Re Mauri is a restaurant located in Vietri sul Mare, Italy, founded in 2014. Offering sophisticated and refined cuisine on the Amalfi Coast, this restaurant offers stunning views of the harbour. Offering delicacies from Italian, seafood, Mediterranean and European cuisines, Re Mauri also caters to special dietary needs such as vegetarian, vegan and gluten-free options. The restaurant, which serves lunch and dinner, promises an experience that will appeal to your taste buds, under the leadership of chef Lorenzo Cuomo. Also recognized by the MICHELIN Guide, Re Mauri stands out as a place that appeals to both the eye and the palate.",
                                                             "Located in the heart of Ravello, high on the breathtaking Amalfi Coast, Belvedere Restaurant is renowned for its stunning views and authentic Italian cuisine. This restaurant offers visitors an unforgettable dining experience on its terrace towering over the blue waters of the Mediterranean Sea. Belvedere blends traditional Italian flavors with a modern twist, creating a work of art on each of its plates. Guests can enjoy life in the enchanting atmosphere of Ravello, accompanied by delicious dishes and wines served by the Belvedere Restaurant. "};
                string[] restaurantImage = new string[] { "/Content/images/laserra.PNG", "/Content/images/fornillo.PNG", "/Content/images/tasso.PNG", "/Content/images/capo.PNG", "/Content/images/mauri.PNG", "/Content/images/belvedere.PNG" };
            }

            @for (int k = 0; k <= 5; k++)
            {
                <div class="restaurantsa">
                    <h class="headinga">@restaurantHead[k]</h>
                    <a href=@restaurantLink[k] target="_blank"><img src="@restaurantImage[k]" style="width: 90%; margin: 5% 5%;" alt="@restaurantHead[k]"></a>
                    <p> @restaurantParagraph[k]</p>
                </div>
            }
        </div>
        <!--Food End-->
        <!--Hotel-->

        <div class="hotelheada" style="margin: 50px;">
            <h style=" color:rgb(24, 25, 109); font-size: 35px; "><b>Beautiful Hotels in Amalfi Coast</b></h>
        </div>
        <div class="food" style="display: flex; flex-wrap: wrap;">
            @{
                string[] hotelHead = new string[] { "HOTEL CONCA D'ORO", "Grand Hotel La Favorita", "Hotel Margherita" };
                string[] hotelImage = new string[] { "/Content/images/doro.PNG", "/Content/images/favorita.PNG", "/Content/images/margherita.PNG" };
                string[] hotelLink = new string[] { "https://hotelconcadoro.com/", "https://www.hotellafavorita.com/en/", "https://www.hotelmargherita.info/en/" };
                string[] hotelParagraph = new string[] {"Hotel Conca d'Oro is a hotel located just a 15-minute walk from the centre of Positano and offers stunning views of the Amalfi Coast. This 4-star hotel boasts a hot tub on its panoramic terrace. The spacious and elegant rooms are equipped with satellite TV and air conditioning, and most rooms have a balcony or terrace. The restaurant is open from April to the end of October and serves Mediterranean cuisine and candlelit meals on the sea-view terrace." ,
                                                        "Grand Hotel La Favorita is a five-star hotel located in the heart of Sorrento's historic centre, overlooking the stunning views of the Mediterranean Sea. This elegant hotel blends traditional Italian elegance with modern comfort, providing guests with an unforgettable stay. The hotel's rooftop terrace offers panoramic views of the Gulf of Sorrento and Mount Vesuvius, where you can enjoy this unique view while sunbathing or swimming in the cool waters of the swimming pool. The hotel's restaurants offer the best of Italian cuisine, while the bars and lounges are ideal for sipping drinks in a relaxing atmosphere. Grand Hotel La Favorita provides easy access to Sorrento's vibrant streets, boutique shops and restaurants, making it the perfect base from which to explore all that the Amalfi Coast has to offer. ",
                                                        "Hotel Margherita is a family-run hotel in the heart of the Amalfi Coast, with stunning views of Praiano. This four-star hotel offers its guests atmospheres, beauty, comforts and services that can only be experienced by those who stay at the hotel. Located on the roof of the hotel, the restaurant and swimming pool are the perfect place to feel the charm of Praiano and the tranquility of the Amalfi Coast.The hotel's rooms are decorated with colourful majolikas and traditional furnishings, filled with a Mediterranean atmosphere and overlooking the sea or the lemon garden. The hotel is located 22.9 miles from Naples Airport, providing easy access to surrounding restaurants and attractions. "};
            }
            @for (int j = 0; j <= 2; j++)
            {
                <div class="hotelsa">
                    <h class="headinga">@hotelHead[j]</h>
                    <a href=@hotelLink[j] target="_blank"><img src="@hotelImage[j] " style="width: 90%; margin: 5% 5%;" alt="@hotelHead[j]  "></a>
                    <p>@hotelParagraph[j] </p>
                </div>
            }
        </div>
        <!--Hotel End-->
        <div style="font-family: 'Agbalumo'; font-size: 35px; color: rgb(144, 74, 113);  text-align: center; margin:2% 15%">Are you ready to enjoy the magnificent views of the Amalfi Coast <a href="@Url.Action("Tour_List","Home")">with us</a> ? </div>
        <!--Amalfi End-->
    </div>
</div>
